.colour1{ 
    color:red;
}

.colour2{
    color: blue;
}

.colour3{

    color: darkorange;
}

.colour4{

    color: brown;
}

.colour5{

    color: chartreuse;
}

.colour6{

    color: deeppink;
}

.colour7{

    color:darkviolet;
}
.colour8{

    color:lightcoral;
}



.colour9{

    color:chocolate; 
}


.colour10{

    color:chartreuse;
}